:root {
    --textcolor: rgb(156, 156, 156);
}

body {
    --color: rgb(97, 97, 97);
    background-color: var(--color);
    overflow: hidden;
}
body * {
    font-family: monospace;
}
.center {
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.bottom {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
}

.equipped {
    position: absolute;
    right: 15px;
    bottom: 15px
}


.equipped * {
    padding: 3px;
    margin-top: 5px;
}
.equipped img {
    width: 48px;
    height:48px;
}

.slot {
    color: var(--textcolor);
    font-size: 25px;
    border: 1px solid black;
    margin-right: 1.5px;
}
.slot * {
    display: inline-block;
    vertical-align: middle;
}

.overlay {
    float: right;
    z-index: 10;
    color: var(--textcolor);
    text-align: right;
    font-size: 30px;
    margin: 10px;
    margin-top: 0px;
    
}

.stats {
    border: 1px solid black;
    width: fit-content;
    color: var(--textcolor);
    font-size: 30px;
    margin-bottom: 25px;
}

.drops {
    border: 1px solid black;
    width: fit-content;
    color: var(--textcolor);
    font-size: 30px;
    visibility: hidden;
}

.drops #coins, .stats #coins {
    color: rgb(202, 213, 0);
}

.drops #xp {
    color: rgb(32, 212, 128);
}

.drops #items, .stats #damage, .enemy #damage, .enemy #damage * {
    color: rgb(32, 143, 212);
}

.stats #health, .enemy #health, .enemy #health * {
    color: rgb(159, 0, 0);
}


.stats #level {
    color: rgb(31, 170, 105);
}

.stats #xp {
    color: rgb(32, 212, 128);
}

.enemy {
    text-align: center;
    visibility: hidden;
}

.enemy #image {
    padding: 10px;
}



/* Create an active/current tablink class */
button.active {
    background-color: rgb(47, 47, 47);
}

.fight #output {
    color: var(--textcolor);
    font-size: 20px;
}

.inv {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 90vh;
    max-width: 80vw;
    overflow: auto;
    font-family: monospace;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.inv::-webkit-scrollbar {
    display: none;
}
  
.inv .group {
    clear: both;
}

.heading {
    font-size: 35px;
    color: var(--textcolor);
    padding-bottom: 10px;
}

.fight {
    float: right;
    text-align: center;
}

.enemy * {
    font-size: 20px;
    color: var(--textcolor);
}
.enemy #name {
    font-size: 25px;
}
button, select {
    color: var(--textcolor);
    width: 125px;
    height: 55px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgb(89, 89, 89);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.fight * {
    font-size: 25px;
}

button:hover, select:hover {
    background-color: rgb(62, 62, 62);
}

.item {
    border: 1px solid black;
    padding: 10px;
    width: 222.5px;
    height: fit-content;
    float: left;
    margin: 10px;
}


.item * {
    text-align: center;
    color:var(--textcolor);
    padding: 5px;
    font-size: 20px;
    white-space: nowrap;
}

.item #name, .item #name * {
    font-size: 20px;
}

.item #equip * {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    color: var('--textcolor')
}

.item #equip  {
    color: rgb(36, 143, 36);
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
}


.item img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item span {
    padding: 0px;
}

.centerhori {
    display: block;
    border: 1px solid black;
    margin: auto;
}
